%html
  %head
    %title 
      = page_title
    %link{:rel => 'icon', :type => 'image/png', :href => '/images/x_1.png', :sizes => '48x48'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/main.css'}
    %script{:type => 'text/javascript', :src => '/javascripts/mootools.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/application.js'}
  %body
    .title 
      %a{:rel => "me", :href => "http://github.com/#{@user.login}"}
        == #{@user.login}'s
      Calendar
    .subtitle Tracking Open Source Contributions
    #calendar
      = seinfeld
    #main
      #stats
        .current_streak
          %span.type
            current streak
          %span.num
            = @user.current_streak
            %span.desc days
        .longest_streak
          %a{:href => @user.longest_streak_url}
            %span.type
              longest streak
            %span.num
              = @user.longest_streak
              %span.desc days
      #content.footnote 
        %a{:href => "http://calendaraboutnothing.com"} Calendar About Nothing
        by <a href="http://techno-weenie.net">rick</a> and <a href="http://warpspire.com/">kyle</a> / <a href="http://entp.com">ENTP</a>
        <br />hosting by <a href="http://heroku.com">Heroku</a>