%html
  %head
    %title 
      = page_title
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/styles/main.css'}
    %script{:type => 'text/javascript', :src => '/javascripts/mootools.js'}
    %script{:type => 'text/javascript', :src => '/javascripts/application.js'}
  %body
    .title 
      = page_title
    .subtitle Tracking Open Source Contributions
    #calendar
      = seinfeld
      %p 
        Current Streak:
        = @user.current_streak
      %p 
        Longest Streak:
        = @user.longest_streak